In [1]:
from packages.tools import ConnectionBigQuery
from packages.claro_paths import ClaroPath
import pandas as pd
import numpy as np
import dask.dataframe as dd

In [2]:
client = ConnectionBigQuery(path_credentials="C:/Users/Federico.Cremer/OneDrive - Havas/Desktop/Science/Claro Peru/credentials.json",project_id="claro-peru-trasabilidad")

client.connect()

In [3]:
print("The program is going to start:")

list_datasets_1 = ["DV360", "GoogleAds"]

print("DV360")
df_dv360 = client.merge_tables_from_dataset('DV360')

The program is going to start:
DV360

In [4]:
df_dv360.to_csv('df_dv360.csv')

In [5]:
print("GoogleAds")
df_GoogleAds = client.merge_tables_from_dataset('GoogleAds')

GoogleAds

In [6]:
df_GoogleAds.to_csv('df_GoogleAds.csv')

In [7]:
print("Facebook")
df_facebook = client.merge_tables_from_dataset('Facebook')

Facebook

In [8]:
df_facebook.to_csv('df_facebook.csv')

In [3]:
list_datasets_2 = ["LinkedIn", "Paid_Media", "Twitter"]

print("SECOND MERGE")
df_total_all_datasets_2 = client.merge_all_datasets(list_of_selected_datasets= list_datasets_2)

SECOND MERGE
The MERGE has started. LETS GO AGAIN
LinkedIn is going to be merged
LinkedIn merged
Paid_Media is going to be merged
Paid_Media merged
Twitter is going to be merged
Twitter merged
Full dataset merged

In [6]:
df_total_all_datasets_2

,currency,account_id,account_name,campaign_group_end_date,campaign_group_id,campaign_group_name,campaign_id,campaign_name,creative_dsc_name,creative_id,...,DESCRIPCION_DEL_PLAN_ADQUIRIDO,UGIS,ADD_ON,PRECIO_PAQUETE,PRECIO_ADICIONAL,PRODUCTO,FULL_CLARO,POR_DONDE_SE_ENTERO,AGENDADO,RESULTADO
0,USD,506730622,ag_claronegociosperu_cis_2020_pe,NaT,608374054,Default Campaign Group,174294226,CLARO_CLAROEMPRESAS_CLARO EMPRESAS AON_EQU_VVW...,,156891896,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USD,506730622,ag_claronegociosperu_cis_2020_pe,NaT,608374054,Default Campaign Group,174294226,CLARO_CLAROEMPRESAS_CLARO EMPRESAS AON_EQU_VVW...,,171223673,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USD,506730622,ag_claronegociosperu_cis_2020_pe,NaT,608374054,Default Campaign Group,175586066,CLARO_CLAROEMPRESAS_CLARO EMPRESAS AON_EQU_CON...,,157480066,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USD,506730622,ag_claronegociosperu_cis_2020_pe,NaT,608374054,Default Campaign Group,175586526,CLARO_CLAROEMPRESAS_CLARO EMPRESAS AON_EQU_CON...,,157480826,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USD,506730622,ag_claronegociosperu_cis_2020_pe,NaT,608374054,Default Campaign Group,175586526,CLARO_CLAROEMPRESAS_CLARO EMPRESAS AON_EQU_CON...,,157962996,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81229,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,null,null,null,0.00,0.00,Hogar,null,null,null,null
81230,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,null,null,null,0.00,0.00,Hogar,null,null,null,null
81231,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,null,null,null,0.00,0.00,Hogar,null,null,null,null
81232,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,null,null,null,0.00,0.00,Hogar,null,null,null,null
81233,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,null,null,null,0.00,0.00,Hogar,null,null,null,null

In [8]:
df_total_all_datasets_2.to_csv('cuboMaster2.csv')

In [ ]:
dask_df = dd.read_csv('./*.csv', assume_missing= True)

dask_df.compute().to_csv('./cubo_master.csv')

In [5]:
print("JOIN BOTH MERGES")
df_total_final =  df_total_all_datasets_1.join(df_total_all_datasets_2)

JOIN BOTH MERGES

In [6]:
print("TO CSV")
df_total_final.to_csv('cuboMaster.csv')

TO CSV

In [7]:
print("UPLOAD TO BIGQUERY")
client.client.load_table_from_dataframe(df_total_final, destination= 'claro-peru-trasabilidad.cubo_test1.cubov1')

print('The program has finished.')

UPLOAD TO BIGQUERY
The program has finished.

In [4]:
df_cuboMaster2 = pd.read_csv('cuboMaster2.csv')
df_dv360 = pd.read_csv('df_dv360.csv')

C:\Users\Federico.Cremer\AppData\Local\Temp\ipykernel_1612\2702815793.py:1: DtypeWarning: Columns (1,2,3,4,6,7,8,9,12,13,14,15,16,17,18,19,20,21,22,23,24,65,67,68,69,71,72,73,74,76,80,81,83,84,85,86,87,89,91,92,93,94,95,97,98,101,102,103,106,107,109,110,111,112,114,137,138,139,140,141,142,143,144,147,150,151,152,154,155,156,157,158,159,161,166,167,168) have mixed types. Specify dtype option on import or set low_memory=False.
  df_cuboMaster2 = pd.read_csv('cuboMaster2.csv')
C:\Users\Federico.Cremer\AppData\Local\Temp\ipykernel_1612\2702815793.py:2: DtypeWarning: Columns (6,8,9,10,11,22,23,24,44,45,46,48,50,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dv360 = pd.read_csv('df_dv360.csv')

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3398, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Federico.Cremer\AppData\Local\Temp\ipykernel_1612\2702815793.py", line 3, in <cell line: 3>
    df_GAds = pd.read_csv('df_GoogleAds.csv')
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\pandas\util\_decorators.py", line 311, in wrapper
    return func(*args, **kwargs)
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\pandas\io\parsers\readers.py", line 680, in read_csv
    return _read(filepath_or_buffer, kwds)
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\pandas\io\parsers\readers.py", line 581, in _read
    return parser.read(nrows)
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\pandas\io\parsers\readers.py", line 1255, in read
    index, columns, col_dict = self._engine.read(nrows)
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\pandas\io\parsers\c_parser_wrapper.py", line 227, in read
    data = _concatenate_chunks(chunks)
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\pandas\io\parsers\c_parser_wrapper.py", line 394, in _concatenate_chunks
    result[name] = np.concatenate(arrs)  # type: ignore[arg-type]
  File "<__array_function__ internals>", line 5, in concatenate
numpy.core._exceptions._ArrayMemoryError: Unable to allocate 58.8 MiB for an array with shape (7712716,) and data type object

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\executing\executing.py", line 317, in executing
    args = executing_cache[key]
KeyError: (<code object read_csv at 0x0000025A9FCC0F50, file "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\pandas\io\parsers\readers.py", line 584>, 2588251262800, 72)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 1993, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 799, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 854, in get_records
    return list(stack_data.FrameInfo.stack_data(etb, options=options))[tb_offset:]
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\stack_data\core.py", line 565, in stack_data
    yield from collapse_repeated(
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\stack_data\utils.py", line 84, in collapse_repeated
    yield from map(mapper, original_group)
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\stack_data\core.py", line 555, in mapper
    return cls(f, options)
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\stack_data\core.py", line 520, in __init__
    self.executing = Source.executing(frame_or_tb)
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\executing\executing.py", line 369, in executing
    args = find(source=cls.for_frame(frame), retry_cache=True)
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\executing\executing.py", line 252, in for_frame
    return cls.for_filename(frame.f_code.co_filename, frame.f_globals or {}, use_cache)
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\executing\executing.py", line 270, in for_filename
    result = source_cache[filename] = cls._for_filename_and_lines(filename, lines)
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\executing\executing.py", line 281, in _for_filename_and_lines
    result = source_cache[(filename, lines)] = cls(filename, lines)
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\stack_data\core.py", line 79, in __init__
    super(Source, self).__init__(*args, **kwargs)
  File "c:\Users\Federico.Cremer\Anaconda3\lib\site-packages\executing\executing.py", line 228, in __init__
    self.tree = ast.parse(ast_text, filename=filename)
  File "c:\Users\Federico.Cremer\Anaconda3\lib\ast.py", line 50, in parse
    return compile(source, filename, mode, flags,
MemoryError

In [12]:
df_GAds = pd.read_csv('df_GoogleAds.csv')
df_fb = pd.read_csv('df_facebook.csv')

C:\Users\Federico.Cremer\AppData\Local\Temp\ipykernel_1612\1523082647.py:1: DtypeWarning: Columns (2,4,5,6,8,9,10,12,15,19,20,21,24,25,26,27,28,29,30,31,36,37,38,39,42,43,44,45,65,66,69,81,83,84,88,89,90,92,93,94,98,99,100,102,104,105,106,107,108,109,110,111,113,114,115,116,117,121,122) have mixed types. Specify dtype option on import or set low_memory=False.
  df_GAds = pd.read_csv('df_GoogleAds.csv')

In [ ]:
df_cuboMaster2 = pd.concat([df_cuboMaster2, df_dv360])
df_cuboMaster2 = pd.concat([df_cuboMaster2, df_GAds])
df_cuboMaster2 = pd.concat([df_cuboMaster2, df_fb])

In [ ]:
df_cuboMaster2.head(5)